.item {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 60vw;

	.mat-checkbox {
		width: 55vw;
	}

	.mat-button {
		margin-left: 2rem;
		width: 5vw;
	}

	.task-done {
		text-decoration: line-through;
	}
}