.TodoApp {
	width: 50vw;
	min-height: 80vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	border-radius: 1rem;
}

@media (max-width: 800px) {
	.TodoApp {
		width: 80vw;
	}
}