.Item {
	width: 100%;
	list-style: none;
}

.TodoCard {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: .5rem 1rem;
	font-size: 1.2rem;
}

.TaskInfo {
	display: flex;
}

.Done {
	text-decoration: line-through;
	padding: 0 1rem;
}

.TaskValue {
	padding: 0 1rem 0 .5rem;
}

.Delete {
	height: 1.5rem;
	margin: 0 1rem !important;
}
