.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	max-width: 100vw;
	min-height: 100vh;

	.list {
		margin: 2rem 0;
		list-style: none;
		min-height: 80vh;
	}
}