@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,100&display=swap');

html, body, #root {
	height: 100%;
}

body {
	margin: 0;
	font-family: 'Roboto', sans-serif;
	background-color: #212121;
}
